@font-face {
	font-family: Panton-Regular;
	src: url('../src/Panton-Regular.otf');
}

body {
  font-family: Panton-Regular, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ffffff;
  overflow: hidden;
  margin: 0;
}

#chartdiv {
  width: 100%;
  max-height: 600px;
  height: 100vh;
}